<app-navbar-login></app-navbar-login>

<!-- Forgot -->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="https://localhost:7159/files/cdn/login/images/img-01.png"
                    alt="IMG">
            </div>

            <form class="login100-form validate-form">
                <span class="login100-form-title">
                    Forgot Password
                </span>
                <form [formGroup]="forgotForm">
                    <!-- input email -->
                    <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="email" placeholder="Email registration"
                                formControlName="email" [(ngModel)]="resetPasswordEmail"
                                (ngModelChange)="checkValidEmail($event)">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                    <!-- message error -->
                    <div style="margin-bottom: 10px;">
                        <small *ngIf="!resetPasswordEmail" class="text-danger"
                            style="font-size: 14px; font-weight: bold;">Email registration is
                            required</small>
                        <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger"
                            style="font-size: 14px; font-weight: bold;">Email registration is
                            required</small>
                        <small *ngIf="forgotForm.controls['email'].dirty && forgotForm.hasError('required','email')"
                            class="text-danger" style="font-size: 14px; font-weight: bold;">Email registration is
                            required</small>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" (click)="confirmToSend()">
                            send email
                        </button>
                    </div>
                    <div class="text-center p-t-136">
                        <a class="txt2" href="login">
                            Back to login
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </form>
        </div>
        <script>
            
        </script>
    </div>
</div>